*{
    font-family: poppins;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}

/* Navbar */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    max-width: 1070px;
    width: 100%;
    margin: auto;
}

.menu{
    display: flex;
}

.menu li a, .menu .active{
    padding: 3px 10px;
    margin: 0 2vw;
    color: #3b3b3b;
    font-weight: 500;
    letter-spacing: 0.5px;
}


.menu li a:hover{
    color: orange;
}

.logo{
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: 1px;
    color: #202020;
}

.logo span{
    color: orange;
}

.right-nav{
    display: flex;
    grid-template-columns: auto auto;
    grid-gap: 25px;
}

.right-nav a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
}

.right-nav .heart{
    background-color: #fff0ee;
    color: green;
    border: 2px black solid;
}

.right-nav .heart:hover{
    background-color: #202020;
    color: white;
    transition: all ease 0.3s;
}

.right-nav a span{
    position: absolute;
    top: -7px;
    right: -7px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    font-size: 0.6rem;
    font-weight: 500;
}

.right-nav .cart{
    background-color: #fff0ee;
    color: green;
    border: 2px black solid;
}

.right-nav .cart:hover{
    background-color: #202020;
    color: white;
    transition: all ease 0.3s;
}

.right-nav .heart span{
    background-color: white;
    border: 2px black solid;
    color: black;
}

.right-nav .cart span{
    background-color: white;
    border: 2px black solid;
    color: black;
}

/* hero section */
#search{
    max-width: 1250px;
    height: 500px;
    border-radius: 30px;
    background-color: #eaedea;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: bottom right;
    padding: 20px;
    display: flex;
    align-items: center;
}

.bg-1{
    position: absolute;
    left: -50px;
    top: -150px;
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-position: center;
}

.bg-2{
    position: absolute;
    left: 60%;
    transform: translateX(-60%);
    top: -75px;
    width: 150px;
    height: 150px;
    object-position: center;
    object-fit: contain;
}

.hero-text{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-left: 160px;
    margin-bottom: 100px;
    position: relative;
    text-align: center;
    font-weight: bold;
}

.hero-text span{
    color: orange;   
}

.hero-text button{
    width: 120px;
    height: 50px;
    margin-left: 380px;
    margin-top: 20px;
    border-radius: 20px;
    border: 4px solid white;
    cursor: pointer;
    color: orange;
    font-size: 16px;
}

.hero-text button:hover{
    color: white;
    background-color: rgb(244, 165, 19);
}

/* category-body-section */
